body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    background-color: lightblue;

}

.container {
    text-align: center;

}

.progress-container {

    width: 500px;
    display: flex;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.progress-bar-back {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: lightgray;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.progress-bar-front {
    position: absolute;
    height: 4px;
    width: 0;
    background-color: green;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: linear 0.4s;
}

.step {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid gray;
    color: lightgray;
}

.step.check {
    color: green;
    border-color: green;
    transition: all 0.4s linear;
    transition-delay: 0.3s;
}

.step.check small {
    position: absolute;
    bottom: -20px;
    font-family: cursive;
}

.btn {
    background-color: slateblue;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 70px 10px 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.btn:hover {
    opacity: .9;
}

.btn:active {
    transition: scale(.97)
}

.btn:disabled {
    background-color: lightgray;
}

@media (max-width: 500px) {
    .progress-container {
        width: 90vw;
    }

}