body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: gray;
    font-family: cursive;
    text-align: center;

}




.stats-container {
    margin: 20px;
    border: dotted;
    min-width: 200px;
    height: 100px;
    position: relative;
    padding: 20px;


}


.stats-container h4 {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.counter {
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: green;

}



@media(max-width:500px) {
    body {
        flex-direction: column;
    }
}