* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: yellow;


}

.feedback-container {
    background-color: white;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;
    position: relative;
}

/* EMOJI CONTAINER [SECTION] */
.emoji-container {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;


}


.fa-regular {
    margin: 1px;
    transform: translateX(0);
    transition: transform 0.2s;

}

/* END EMOJI CONTAINER [SECTION] */


/* RATINF SECTION  */
.rating-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;

}


.fa-star {
    color: lightgray;
}

.active {
    color: gold;
    cursor: pointer;
}

/* END RATING SECTION  */