body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}

.magnifier {
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.mic-icon {
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    transition: width 0.4s;
    transition-delay: 1s;

}

.searh-bar-container {
    position: relative;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .3), -6px -6px 10px rgba(255, 255, 2555, 0.7);
    margin: 10px;
    transition: width 1.5s;
}

.input {
    background-color: transparent;
    border: none;
    margin: 10px 50px;
    outline: none;
    color: rgba(110, 100, 100);
    transition: width 0.4s;
    transition-delay: 0.5s;

}

.active.searh-bar-container {
    width: 50px;



}

.active .input {
    width: 0;
}


.active .mic-icon {
    width: 0;
}