body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    background-color: blueviolet
}


h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.year {
    font-size: 5em;
    color: #fff;
    font-weight: bold;

}

.countdown {
    background-color: gray;
    margin: 30px;
    width: 100%;
    color: #fff;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;


}

.countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: .35em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    height: 35px;


}

.countdown #day::before {
    content: "Days";

}

.countdown #hour::before {
    content: "Hours";
}

.countdown #minute::before {
    content: "Minutes";
}

.countdown #second::before {
    content: "Seconds";
}