body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: greenyellow;

}

.form {
    background-color: skyblue;
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 400px;
    border-radius: 10px;

}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
}

.input::placeholder {
    color: lightgray
}

.list {
    margin: 0;
    padding: 0;

}

.list li {
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: darkgray;
    position: relative;
}

.list li .fa-trash {
    color: red;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-square-check {
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*  there have two option to put properties */
.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

/* .checked {
    color: darkgray;
    text-decoration: line-through;

} */


/* =========End ======  */
.list li.checked .fa-square-check {
    color: darkgray;
}