body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
}

.btn {
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    transition: 1s background-color;
    white-space: nowrap;
}

.btn:hover {
    background-color: white;
    color: blacks;
}

.split {
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left {
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url("https://i.expansys.net/img/p/375517/apple-iphone-13-pro-5g-dual-nano-sim.jpg");
    background-size: cover;
}

.split.right {
    position: absolute;
    right: 0;
    background-color: lightgreen;
    background-image: url("https://i.expansys.net/img/p/330001/samsung-galaxy-s21-ultra-5g-dual-sim-sm-g9980.jpg");
    background-size: cover;

}


.active-left .left {
    width: 75%;
}

.active-left .right {
    width: 25%;
}

.active-right .left {
    width: 25%;
}

.active-right .right {
    width: 75%;
}


.left,
.right {
    transition: width 2s ease-in-out;

}