body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'courier new', monospace;


}

.password-container {
    background-color: blue;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    margin: 10%;
}

.input-container {
    background-color: pink;
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}

.input::placeholder {
    letter-spacing: 0px;
}

.fa-copy {
    cursor: pointer;
    opacity: .3;

}

.fa-copy:hover {
    opacity: .7;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
}

.btn:hover {
    background-color: green;
}

.btn:active {
    transform: scale(1.05);
}

.alert-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}

.active.alert-container {
    right: -300px;
}